body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: brown;
    color: #ffffff;
    text-align: center;
    
}

.intro {
    text-align: center;
}

.rps-buttons {
    text-align: center;
}
.exit {
    margin-left: auto;
}

button {
    background-color: #3882f6;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
}

.scores {
    display: inline;
    text-align: right;
}


.choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    margin: 0 auto;
}

