body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: brown;
    color: #ffffff;
    text-align: center;
    
}

.intro {
    text-align: center;
}

.rps-buttons {
    text-align: center;
}
.exit {
    margin-left: auto;
}

button {
    background-color: #3882f6;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px #00000033;
    font-size: 16px;
}

button:hover {
    background-color: #2764c2;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px #00000033;
}

button:focus {
    outline: 3px solid #3882f699;
}

.scores {
    display: inline;
    text-align: right;
}


.choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
}

